<?xml version="1.0" encoding="UTF-8" ?>
<widget xmlns   = "http://www.w3.org/ns/widgets"
    xmlns:gap   = "http://phonegap.com/ns/1.0"
    id          = "com.phonegap.example"
    version     = "1.0.0" >

  <name>Wiki search</name>

  <description>
      Live Wikipedia search.
  </description>

  <author href="https://github.com/mudroljub">
      Damjan Pavlica
  </author>

</widget>
