<!DOCTYPE html>
<html lang='en'>

<head>
    <meta charset='UTF-8'>
    <title>AngularJS Wiki Module</title>
    <link rel="stylesheet" href="bower_components/bootstrap-css-only/css/bootstrap.min.css">
    <link rel="stylesheet" href="style.css">

    <script src='bower_components/angular/angular.min.js'></script>
    <script src='bower_components/angular-sanitize/angular-sanitize.min.js'></script>
    <script src='app.js'></script>
</head>

<body ng-app='wikiModul'>
    <header class="container">
        <h1>Angular Wikipedia Module</h1>
    </header>

    <main ng-controller='WikiKontrol as wiki' ng-init='wiki.searchWikipedia(wiki.term)' class="container main" ng-cloak>

        Search Wikipedia:
        <input ng-model='wiki.term' ng-change='wiki.searchWikipedia(wiki.term)'>

        <pre>{{wiki.json | json}}</pre>
        {{wiki.error}}

        <section class="wiki-article" ng-show='wiki.page'>
            <h1 class="text-info">{{wiki.page.title}}</h1>
            <div ng-bind-html='wiki.page.extract'></div>
        </section>

        <section class="wiki-results" ng-show='wiki.results'>
            <div ng-repeat="page in wiki.results">
                <h3>{{page.title}}</h3>
                <p ng-bind-html='page.snippet'></p>
            </div>
        </section>

        <p class="text-info pull-right"><a href="#">Read on Wikipedia >> </a></p>

    </main>

</body>

</html>
