<!DOCTYPE html>
<html lang='en'>
<head>
    <meta charset='UTF-8'>
    <title>AngularJS Wiki Module</title>
    <link rel="stylesheet" href="bower_components/bootstrap-css-only/css/bootstrap.min.css">
    <link rel="stylesheet" href="style.css">

    <script src='bower_components/angular/angular.min.js'></script>
    <script src='bower_components/angular-sanitize/angular-sanitize.min.js'></script>
    <script src='app.js'></script>
</head>

<body ng-app='wikiModul'>
    <header class="container">
        <h1>Angular Wikipedia Module</h1>
    </header>

    <main ng-controller='WikiController as wiki' ng-init='wiki.searchWikipedia(wiki.term)' class="container main" ng-cloak>

        Search Wikipedia:
        <input ng-model='wiki.term' ng-change='wiki.searchWikipedia(wiki.term)'>

        <pre>{{wiki.json | json}}</pre>
        {{wiki.error}}

        <section ng-show='wiki.page'>
            <article class="wiki-article clearfix">
                <h1 class="text-info">{{wiki.page.title}}</h1>
                <section ng-bind-html='wiki.page.extract'></section>
            </article>
            <p class="text-info pull-right"><a href="#">Read on Wikipedia >> </a></p>
        </section>

        <article ng-repeat="page in wiki.results" class="clearfix">
            <h3 ng-click="wiki.openArticle(page.title)" class="pointer">{{page.title}}</h3>
            <img ng-src="{{page.thumbnail.source}}" alt="{{page.title}}" class="img-thumbnail" ng-show="page.thumbnail.source">
            <section ng-bind-html='page.extract'></section>
            <p class="text-info pull-right"><a ng-href="https://en.wikipedia.org/wiki/{{page.title}}" target="_blank">Read on Wikipedia >> </a></p>
        </article>

    </main>

</body>
</html>
