[ng\:cloak],
[ng-cloak],
[data-ng-cloak],
[x-ng-cloak],
.ng-cloak,
.x-ng-cloak {
    display: none !important;
}

.wiki-logo {
    height: 2em;
}

.search-form  {
    margin-bottom: 20px;
}

.main {
    margin-bottom: 40px;
}

.choosen-article-wrapper {
    border: 1px solid rgb(235, 235, 235);
}

.articles,
.choosen-article  {
    padding: 0 20px;
}

.choosen-article {
    max-height: 900px;
    overflow-y: scroll;
}

.read-more {
    margin-right: 30px;
}

.pointer {
    cursor: pointer;
}
