[ng\:cloak],
[ng-cloak],
[data-ng-cloak],
[x-ng-cloak],
.ng-cloak,
.x-ng-cloak {
    display: none !important;
}

* {
    transition: all 0.3s ease-out;
}

/* HELPER CLASSES */

.pointer {
    cursor: pointer;
}

/* HEADER */

.header {
    background: #F1F1F1;
    padding: 10px 20px;
    margin-bottom: 20px;
}

.search-button {
    position:absolute;
    right:0;
}

/* MAIN PAGE */

.main {
    margin-bottom: 40px;
}

.choosen-article-wrapper {
    border: 1px solid rgb(235, 235, 235);
    border-radius: 4px;
}

.articles,
.choosen-article  {
    padding: 0 20px;
}

.col-md-6 .choosen-article {    /* have max-height only in column */
    max-height: 1200px;
    overflow-y: scroll;
}

.read-more {
    margin-right: 30px;
}

.choosen-article-wrapper .read-more {
    margin-top: 10px;
}
