[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
  display: none !important;
}

.main {
    margin-bottom: 40px;
}

.wiki-article {
    max-height: 600px;
    overflow-y: scroll;
    margin-bottom: 20px;
}
